*{
    margin:0;
    padding:0;

}
.main{
    background-color:rgb(139, 139, 148);
}
.container-fluid{
    background-color: rgb(170, 170, 175);
}
.container{
    background-color: rgb(143, 143, 147);
}
.d-flex{
    background-color: aliceblue;
}

.body{
    /* background-color: blue; */
    margin:0;
    margin-top: 20px;
    
    border: 0px;
    max-width: 100%;
   display: grid;
   grid-template-columns:500px 500px 500px;
   grid-template-rows: 500px 500px 500px;
   /* grid-gap: 2px; */
}
.p1 img{
    width: 380px;
    height: 225px;
}
.p7 img{
    width: 380px;
    height: 225px;
}
/* img{
    width: 100%;
} */
 .body_text{
    margin-top: 157px;
    color: rgb(252, 249, 249);
    position: absolute;
    bottom: 10px;
    left: 8px;

 }
 .feet{
    margin: 50px;
    /* background-color: aquamarine; */
 }
 .submite{
    text-align: center;
    /* background-color: aqua; */
 }